* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Semi-transparent pour masquer l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer que le conteneur est au-dessus de tout le reste */
}

.video-overlay video {
  max-width: 80%;
  max-height: 80%;
}
.hidden {
  display: none;
}
.content {
  display: none; /* Masquer le contenu principal initialement */
}
.show-content .content {
  display: block; /* Afficher le contenu principal une fois la vidéo terminée */
  overflow: auto;
}

/*arrière plan du site*/
.img_background {
  background-image: url("images/VTT/orjan-windsland-rf1LLx8KFWc-unsplash.jpg");
  background-size: cover; /* L'image couvre tout le fond du conteneur */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* L'image ne se répète pas */
  height: 500px; /* Définir la hauteur du conteneur */
  width: 100%; /* Définir la largeur du conteneur */
  overflow: auto; /* Permettre le défilement si le contenu dépasse la hauteur du conteneur */
}
.img_background_apropos {
  background-image: url("images/VTT/adam-stefanca-JrM_SWb2gJA-unsplash.jpg");
  background-size: cover; /* L'image couvre tout le fond du conteneur */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* L'image ne se répète pas */
  height: 500px; /* Définir la hauteur du conteneur */
  width: 100%; /* Définir la largeur du conteneur */
  overflow: auto; /* Permettre le défilement si le contenu dépasse la hauteur du conteneur */
}
.img_background_realisation {
  background-image: url("images/VTT/nathanael-desmeules-mWPdKMZPEpU-unsplash.jpg");
  background-size: cover; /* L'image couvre tout le fond du conteneur */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* L'image ne se répète pas */
  height: 500px; /* Définir la hauteur du conteneur */
  width: 100%; /* Définir la largeur du conteneur */
  overflow: auto; /* Permettre le défilement si le contenu dépasse la hauteur du conteneur */
}
.arriere_plan {
  background: linear-gradient(to bottom, #ffffff, #87d7fc);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*fin arrière plan*/

/*Titre*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #0c0c0c;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 60%;
  margin: 180px 0px 0px 80px;
}
.piece {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #0c0c0c;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 60%;
  margin: 10px 0px 0px 1050px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  color: #0c0c0c;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  background-color: #c5daf2;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  width: 60%;
  margin: 100px auto 80px auto;
  border-radius: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6em;
  color: #0c0c0c;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

/*haut et pied de page */
header {
  background: linear-gradient(to bottom, #ffffff, #87d7fc);
  height: 4em;
}
footer {
  background: linear-gradient(to top, #ffffff, #87d7fc);
  text-align: center;
  margin: 10px 10px 0px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #0c0c0c;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 0.6em;
  margin-top: 10px;
}
.img_insta {
  width: 60px;
  height: 60px;
  background: none;
}
.img_insta:hover {
  opacity: 0.5;
}
.profil_fb {
  width: 70px;
  height: 70px;
  background: none;
}
.img_custom {
  width: 60px;
  height: 60px;
  background: none;
  padding-top: 5px;
}
.custom_realisation {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #050505;
  text-decoration: none;
  border-radius: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.custom_realisation:hover {
  color: #2a16de;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.a-propos,
.accueil {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #0c0c0c;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.a-propos:hover {
  color: #2a16de;
}
.accueil:hover {
  color: #2a16de;
}

.contact {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #0d0d0d;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.contact_moi {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: #0c0c0c;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contact_moi_bis {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 18px;
  color: #0c0c0c;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contact_moi:hover {
  color: #2a16de;
}
.contact_moi_bis:hover {
  color: #2a16de;
}

.logo_pied-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 0px 10px 0px;
}
.logo_cottar_cycle {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-radius: 50%;
  background: none;
}
.logo_cottar_cycle:hover {
  opacity: 0.7;
}
.logo_cottar_cycle_1 {
  margin: 10px 0px 0px 10px;
  width: 200px;
  height: 200px;
  background: none;
  border-radius: 100px;
}
.mail {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;
}
.mail_2 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-decoration: none;
}
.mail_2:hover {
  color: #2a16de;
}

.tel {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 20px;
}
.adresse {
  width: 50px;
  height: 40px;
}
.adresse_2 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-decoration: none;
}
.adresse_2:hover {
  color: #2a16de;
}
/*style pour le numéro de téléphone*/
span {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
/*fin des logo/lien haut et pied de page*/

/*parcours professionelle décris*/
.parcours {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: justify;
  font-weight: 400;
  padding: 10px 60px 40px 10px;
  line-height: 1.75;
  text-indent: 3em;
  width: 70%;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.5);
  margin: 200px auto 200px auto;
  border-right: solid 0.1px black;
  border-bottom: solid 0.1px black;
  border-radius: 20px;
}
ul {
  margin: 10px 0px 10px 80px;
}
li {
  font-weight: 700;
}
.intro {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 800;
  padding: 0px 40px 0px 40px;
  line-height: 1.75;
  text-indent: 3em;
  width: 70%;
  margin: -50px auto 0px auto;
}
.montage_neuf {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: justify;
  font-weight: 400;
  padding: 0px 40px 0px 40px;
  line-height: 1.75;
  text-indent: 3em;
  width: 65%;
  margin: 20px 30px 40px 90px;
}
.montage_piece {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: justify;
  font-weight: 400;
  padding: 0px 40px 0px 40px;
  line-height: 1.75;
  text-indent: 3em;
  width: 50%;
  margin: 20px 10px 50px 600px;
}
.border-paragraphe {
  height: 100px;
  width: 180px;
  margin: 40px 0px 0px 200px;
  border-left: double rgb(100, 100, 100);
  border-top: double rgb(124, 123, 123);
  border-radius: 20px 0px 0px 0px;
}
.border-paragraphe_2 {
  height: 100px;
  width: 180px;
  margin: -70px 0px 60px 1140px;
  border-right: double rgb(100, 100, 100);
  border-bottom: double rgb(124, 123, 123);
  border-radius: 0px 0px 20px 0px;
}
.tarifs {
  font-family: "Montserrat", sans-serif;
  color: #356bb7;
  font-weight: 500;
  text-decoration: none;
}
.tarifs:hover {
  color: #2a16de;
}
/*lien qui remonte en haut de la page*/
.hautdepage {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
}
.hautdepage:hover {
  color: #2a16de;
}
/*fin du lien de haut de page*/

/*mention tous droit réservé*/
.copyright {
  margin: 15px;
  padding-bottom: 10px;
}
/*style pour les images*/
.customisation {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: rgb(3, 3, 3);
  font-weight: 1000;
  text-align: center;
  padding: 40px 0px 40px 40px;
  margin: auto;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
}
.border-paragraphe_custom_1 {
  height: 80px;
  width: 200px;
  margin: 60px 0px -90px 280px;
  border-left: double rgb(100, 100, 100);
  border-top: double rgb(124, 123, 123);
  border-radius: 20px 0px 0px 0px;
}
.border-paragraphe_custom_2 {
  height: 80px;
  width: 200px;
  margin: -80px 0px 60px 1080px;
  border-right: double rgb(100, 100, 100);
  border-bottom: double rgb(124, 123, 123);
  border-radius: 0px 0px 20px 0px;
}
.roue {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #000000;
  width: 30%;
  text-align: center;
  border-radius: 40%;
  padding: 5px;
  margin: 50px auto auto auto;
}
.avant-apres {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #000000;
  width: 30%;
  text-align: center;
  border-radius: 40%;
  padding: 5px;
  margin: 50px auto auto auto;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
}

.img_bike_avant {
  width: 400px;
  height: 300px;
  margin-top: 4em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.img_bike_avant:hover {
  border: solid 1px blue;
}
.img_bike {
  width: 400px;
  height: 300px;
  margin-top: 6em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.img_bike:hover {
  border: solid 1px blue;
}
.img_bike2 {
  width: 300px;
  height: 300px;
  margin-top: 6em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.img_bike2:hover {
  border: solid 1px blue;
}
.img_bike_blue {
  width: 400px;
  height: 300px;
  margin-top: 6em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.img_bike_blue:hover {
  border: solid 1px blue;
}

.img_cube {
  width: 400px;
  height: 400px;
  margin-top: 6em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.img_cube:hover {
  border: solid 1px blue;
}
.img_cube_1 {
  width: 400px;
  height: 400px;
  margin-top: 6em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.groupeimg_0 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto 6em auto;
}
.groupeimg_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.groupeimg_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.groupeimg_3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto 6em auto;
}
.groupeimg_4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto 6em auto;
}
.groupeimg_5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto 6em auto;
}
.img_intro_1 {
  width: 900px;
  height: 300px;
  box-shadow: 8px 6px 8px rgba(5, 1, 46, 0.5);
  margin: 40px 0px 0px 300px;
  border-radius: 23% 77% 14% 86% / 80% 17% 83% 20%;
  opacity: 0.8;
}
.img_intro_2 {
  position: bottom;
  width: 400px;
  height: 300px;
  box-shadow: 8px 6px 8px rgba(5, 1, 46, 0.5);
  border-radius: 23% 77% 14% 86% / 80% 17% 83% 20%;
  opacity: 0.8;
  float: left;
  margin: 0px 40px 20px 100px;
}
.img_intro_3 {
  position: bottom;
  width: 400px;
  height: 300px;
  box-shadow: 8px 6px 8px rgba(5, 1, 46, 0.5);
  border-radius: 82% 18% 87% 13% / 22% 85% 15% 78%;
  opacity: 0.8;
  float: right;
  margin: 0px 40px 20px 0px;
}
.clear {
  clear: both;
}
/*fin du style des images*/
.border_contact_1 {
  height: 100px;
  width: 180px;
  margin: -60px 0px -40px 1120px;
  border-right: double rgb(100, 100, 100);
  border-top: double rgb(124, 123, 123);
  border-radius: 0px 20px 0px 0px;
}
.border_contact_2 {
  height: 100px;
  width: 180px;
  margin: -100px 0px 0px 250px;
  border-left: double rgb(100, 100, 100);
  border-bottom: double rgb(124, 123, 123);
  border-radius: 0px 0px 0px 20px;
}
